{% extends "base.html" %}

{% block content %}
<h1 class="title">welcome, {{ name }}</h1>
<div>
    <div class="container">
        <div>
            <div id="audio-artist"></div>
            <div id="audio-release"></div>
            <div id="audio-track"></div>
        </div>
        <audio preload="none" controls crossorigin="anonymous"></audio>
    </div>
    <div class="table-container">
        <table id="track-table" class="table is-bordered is-striped is-fullwidth">
            <thead>
                <tr>
                    <th>artist</th>
                    <th>album</th>
                    <th>track</th>
                </tr>
            </thead>
            <tbody>
                {% for line in lines %}
                <tr>
                    {% if loop.index == 1 %}
                    <td class="artist-name is-selected">{{ line[0].name }}</td>
                    <td class="release-name is-selected">{{ line[1].name }}</td>
                    <td class="track-name is-selected">{{ line[2].name }}</td>
                    {% else %}
                    <td class="artist-name">{{ line[0].name }}</td>
                    <td class="release-name">{{ line[1].name }}</td>
                    <td class="track-name">{{ line[2].name }}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}